html {
  background-color: black;
}
.App {
    display: flex;
    flex-direction: column;
    text-align: center;
    color: white;
    background-color: black;
    height: 100vh
}
.logo {
  align-self: center;
  height: 60vh;
  margin-top: -8vh;
  width: 50vw;
}
h1 {
  margin-top: -15vh;
}
